@import 'tailwindcss';

:root {
	--background-color: #0a0d10;
	--text-color: #ffffff;
	--accent-color: #d61a2f;
	--secondary-color: #9c9d9d;
}

body {
	font-family: 'Mulish', sans-serif;
	background-color: var(--background-color);
	color: var(--text-color);
}
